In [30]:
import os
os.environ["JAVA_HOME"] = "C:\\jdk-22.0.2"
os.environ["SPARK_HOME"] = "C:\\spark-3.5.2-bin-hadoop3\\spark-3.5.2-bin-hadoop3"
os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_PYTHON"] = "python"

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import isnan, when, count, col, lit, regexp_extract
from pyspark.sql.types import IntegerType, DoubleType
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, TrainValidationSplit
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import StringIndexer, VectorAssembler, OneHotEncoder
from pyspark.ml import Pipeline
from pyspark.mllib.evaluation import BinaryClassificationMetrics as metric
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import GBTClassifier
from sklearn.metrics import roc_curve, auc
import pandas as pd
import numpy as np

In [32]:
spark = SparkSession.builder.appName('Pyspark_Loan').getOrCreate()

In [33]:
df = spark.read.csv('C:\\01-FaculdadeSemestreAtual\\Processamento_de_Dados_Massivos\\Loan_Approval\\train.csv',header = 'True',inferSchema='True')
final_test = spark.read.csv('C:\\01-FaculdadeSemestreAtual\\Processamento_de_Dados_Massivos\\Loan_Approval\\test.csv',header = 'True',inferSchema='True')

In [34]:
df.show(5)

+---+----------+-------------+---------------------+-----------------+-----------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+
| id|person_age|person_income|person_home_ownership|person_emp_length|loan_intent|loan_grade|loan_amnt|loan_int_rate|loan_percent_income|cb_person_default_on_file|cb_person_cred_hist_length|loan_status|
+---+----------+-------------+---------------------+-----------------+-----------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+
|  0|        37|        35000|                 RENT|              0.0|  EDUCATION|         B|     6000|        11.49|               0.17|                        N|                        14|          0|
|  1|        22|        56000|                  OWN|              6.0|    MEDICAL|         C|     4000|        13.35|               0.07|                        N|                         2|          0|
|  2|        29|        28800|                  OWN|              8.0|   PERSONAL|         A|     6000|          8.9|               0.21|                        N|                        10|          0|
|  3|        30|        70000|                 RENT|             14.0|    VENTURE|         B|    12000|        11.11|               0.17|                        N|                         5|          0|
|  4|        22|        60000|                 RENT|              2.0|    MEDICAL|         A|     6000|         6.92|                0.1|                        N|                         3|          0|
+---+----------+-------------+---------------------+-----------------+-----------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+
only showing top 5 rows

In [35]:
df.count()

58645

In [36]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- person_age: integer (nullable = true)
 |-- person_income: integer (nullable = true)
 |-- person_home_ownership: string (nullable = true)
 |-- person_emp_length: double (nullable = true)
 |-- loan_intent: string (nullable = true)
 |-- loan_grade: string (nullable = true)
 |-- loan_amnt: integer (nullable = true)
 |-- loan_int_rate: double (nullable = true)
 |-- loan_percent_income: double (nullable = true)
 |-- cb_person_default_on_file: string (nullable = true)
 |-- cb_person_cred_hist_length: integer (nullable = true)
 |-- loan_status: integer (nullable = true)

In [37]:
df.select([count(when(col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---+----------+-------------+---------------------+-----------------+-----------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+
| id|person_age|person_income|person_home_ownership|person_emp_length|loan_intent|loan_grade|loan_amnt|loan_int_rate|loan_percent_income|cb_person_default_on_file|cb_person_cred_hist_length|loan_status|
+---+----------+-------------+---------------------+-----------------+-----------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+
|  0|         0|            0|                    0|                0|          0|         0|        0|            0|                  0|                        0|                         0|          0|
+---+----------+-------------+---------------------+-----------------+-----------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+

In [38]:
df.limit(100).toPandas().sample(10)

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
30,30,30,48000,RENT,12.0,EDUCATION,B,2000,9.62,0.04,N,8,0
57,57,37,60000,MORTGAGE,11.0,VENTURE,A,2000,7.66,0.03,N,17,0
68,68,31,62900,MORTGAGE,2.0,MEDICAL,D,18000,14.09,0.24,N,5,1
63,63,22,50000,RENT,5.0,PERSONAL,C,4200,15.23,0.08,Y,2,0
65,65,25,90000,MORTGAGE,2.0,VENTURE,A,15000,9.38,0.17,N,4,0
94,94,22,33000,RENT,4.0,PERSONAL,B,9800,10.62,0.28,N,4,0
38,38,30,54000,RENT,0.0,MEDICAL,B,12500,11.71,0.24,N,10,1
52,52,27,70000,RENT,9.0,EDUCATION,A,20000,6.54,0.29,N,9,0
82,82,24,75000,RENT,3.0,PERSONAL,B,15000,11.49,0.20,N,2,0
17,17,29,60000,OWN,13.0,MEDICAL,A,15000,6.62,0.25,N,9,0

In [39]:
df.groupby('loan_intent').count().show()

+-----------------+-----+
|      loan_intent|count|
+-----------------+-----+
|DEBTCONSOLIDATION| 9133|
|          VENTURE|10011|
|         PERSONAL|10016|
|        EDUCATION|12271|
|  HOMEIMPROVEMENT| 6280|
|          MEDICAL|10934|
+-----------------+-----+

In [40]:
df.groupby('loan_grade').count().show()

+----------+-----+
|loan_grade|count|
+----------+-----+
|         F|  149|
|         E| 1009|
|         B|20400|
|         D| 5034|
|         C|11036|
|         A|20984|
|         G|   33|
+----------+-----+

In [41]:
df.groupBy('loan_status').count().show()

+-----------+-----+
|loan_status|count|
+-----------+-----+
|          1| 8350|
|          0|50295|
+-----------+-----+

In [42]:
# Definir as colunas categóricas se deseja codificar
categorical_columns = ["loan_grade", "person_home_ownership", "loan_intent", 'cb_person_default_on_file']

# Criar os indexadores
indexers = [StringIndexer(inputCol=column, outputCol=column + "_index") for column in categorical_columns]

# Criar os OneHotEncoders
encoders = [OneHotEncoder(inputCol=column + "_index", outputCol=column + "_onehot") for column in ["person_home_ownership", "loan_intent"]]

# Criar um pipeline que aplica primeiro os indexadores e depois os encoders
pipeline = Pipeline(stages=indexers + encoders)

# Ajustar e transformar o DataFrame com o pipeline
df_encoded = pipeline.fit(df).transform(df)

# Mostrar o resultado
df_encoded.show()

+---+----------+-------------+---------------------+-----------------+-----------------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+----------------+---------------------------+-----------------+-------------------------------+----------------------------+------------------+
| id|person_age|person_income|person_home_ownership|person_emp_length|      loan_intent|loan_grade|loan_amnt|loan_int_rate|loan_percent_income|cb_person_default_on_file|cb_person_cred_hist_length|loan_status|loan_grade_index|person_home_ownership_index|loan_intent_index|cb_person_default_on_file_index|person_home_ownership_onehot|loan_intent_onehot|
+---+----------+-------------+---------------------+-----------------+-----------------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+----------------+---------------------------+-----------------+-------------------------------+----------------------------+------------------+
|  0|        37|        35000|                 RENT|              0.0|        EDUCATION|         B|     6000|        11.49|               0.17|                        N|                        14|          0|             1.0|                        0.0|              0.0|                            0.0|               (3,[0],[1.0])|     (5,[0],[1.0])|
|  1|        22|        56000|                  OWN|              6.0|          MEDICAL|         C|     4000|        13.35|               0.07|                        N|                         2|          0|             2.0|                        2.0|              1.0|                            0.0|               (3,[2],[1.0])|     (5,[1],[1.0])|
|  2|        29|        28800|                  OWN|              8.0|         PERSONAL|         A|     6000|          8.9|               0.21|                        N|                        10|          0|             0.0|                        2.0|              2.0|                            0.0|               (3,[2],[1.0])|     (5,[2],[1.0])|
|  3|        30|        70000|                 RENT|             14.0|          VENTURE|         B|    12000|        11.11|               0.17|                        N|                         5|          0|             1.0|                        0.0|              3.0|                            0.0|               (3,[0],[1.0])|     (5,[3],[1.0])|
|  4|        22|        60000|                 RENT|              2.0|          MEDICAL|         A|     6000|         6.92|                0.1|                        N|                         3|          0|             0.0|                        0.0|              1.0|                            0.0|               (3,[0],[1.0])|     (5,[1],[1.0])|
|  5|        27|        45000|                 RENT|              2.0|          VENTURE|         A|     9000|         8.94|                0.2|                        N|                         5|          0|             0.0|                        0.0|              3.0|                            0.0|               (3,[0],[1.0])|     (5,[3],[1.0])|
|  6|        25|        45000|             MORTGAGE|              9.0|        EDUCATION|         A|    12000|         6.54|               0.27|                        N|                         3|          0|             0.0|                        1.0|              0.0|                            0.0|               (3,[1],[1.0])|     (5,[0],[1.0])|
|  7|        21|        20000|                 RENT|              0.0|         PERSONAL|         C|     2500|        13.49|               0.13|                        Y|                         3|          0|             2.0|                        0.0|              2.0|                            1.0|               (3,[0],[1.0])|     (5,[2],[1.0])|
|  8|        37|        69600|                 RENT|             11.0|        EDUCATION|         D|     5000|        14.84|               0.07|                        Y|                        11|          0|             3.0|                        0.0|              0.0|                            1.0|               (3,[0],[1.0])|     (5,[0],[1.0])|
|  9|        35|       110000|             MORTGAGE|              0.0|DEBTCONSOLIDATION|         C|    15000|        12.98|               0.14|                        Y|                         6|          0|             2.0|                        1.0|              4.0|                            1.0|               (3,[1],[1.0])|     (5,[4],[1.0])|
| 10|        30|        78000|             MORTGAGE|              5.0|          VENTURE|         B|    12800|        10.59|               0.17|                        N|                         5|          0|             1.0|                        1.0|              3.0|                            0.0|               (3,[1],[1.0])|     (5,[3],[1.0])|
| 11|        22|        33000|                 RENT|              6.0|         PERSONAL|         B|    10000|        11.12|                0.3|                        N|                         2|          1|             1.0|                        0.0|              2.0|                            0.0|               (3,[0],[1.0])|     (5,[2],[1.0])|
| 12|        25|        33000|             MORTGAGE|              1.0|        EDUCATION|         B|     4000|        10.75|               0.12|                        N|                         3|          0|             1.0|                        1.0|              0.0|                            0.0|               (3,[1],[1.0])|     (5,[0],[1.0])|
| 13|        31|        70000|             MORTGAGE|              2.0|DEBTCONSOLIDATION|         B|    16000|        11.14|               0.23|                        N|                         9|          0|             1.0|                        1.0|              4.0|                            0.0|               (3,[1],[1.0])|     (5,[4],[1.0])|
| 14|        27|       100000|                 RENT|              1.0|  HOMEIMPROVEMENT|         C|     5000|        13.57|               0.05|                        Y|                         7|          0|             2.0|                        0.0|              5.0|                            1.0|               (3,[0],[1.0])|         (5,[],[])|
| 15|        29|        33000|                  OWN|              8.0|          MEDICAL|         A|     7300|          8.9|               0.23|                        N|                         8|          0|             0.0|                        2.0|              1.0|                            0.0|               (3,[2],[1.0])|     (5,[1],[1.0])|
| 16|        26|        80000|                 RENT|              2.0|  HOMEIMPROVEMENT|         D|    17000|        14.11|               0.21|                        Y|                         3|          0|             3.0|                        0.0|              5.0|                            1.0|               (3,[0],[1.0])|         (5,[],[])|
| 17|        29|        60000|                  OWN|             13.0|          MEDICAL|         A|    15000|         6.62|               0.25|                        N|                         9|          0|             0.0|                        2.0|              1.0|                            0.0|               (3,[2],[1.0])|     (5,[1],[1.0])|
| 18|        22|        84000|             MORTGAGE|              6.0|DEBTCONSOLIDATION|         B|     5950|        11.12|               0.07|                        N|                         4|          0|             1.0|                        1.0|              4.0|                            0.0|               (3,[1],[1.0])|     (5,[4],[1.0])|
| 19|        27|        65000|             MORTGAGE|              3.0|DEBTCONSOLIDATION|         C|     4800|        12.73|               0.07|                        Y|                         8|          0|             2.0|                        1.0|              4.0|                            1.0|               (3,[1],[1.0])|     (5,[4],[1.0])|
+---+----------+-------------+---------------------+-----------------+-----------------+----------+---------+-------------+-------------------+-------------------------+--------------------------+-----------+----------------+---------------------------+-----------------+-------------------------------+----------------------------+------------------+
only showing top 20 rows

In [43]:
# Agora, são elimindas as colunas que não são úteis
df_encoded = df_encoded.drop("id","person_home_ownership","loan_intent","loan_grade","cb_person_default_on_file", 'person_home_ownership_index', 'loan_intent_index')

# Antes de modelar, todas as colunas são colocadas em único vetor
feature = VectorAssembler(inputCols = df_encoded.columns[1:],outputCol="features")
feature_vector=feature.transform(df_encoded)
feature_vector.limit(3).toPandas()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,loan_status,loan_grade_index,cb_person_default_on_file_index,person_home_ownership_onehot,loan_intent_onehot,features
0,37,35000,0.0,6000,11.49,0.17,14,0,1.0,0.0,"(1.0, 0.0, 0.0)","(1.0, 0.0, 0.0, 0.0, 0.0)","(35000.0, 0.0, 6000.0, 11.49, 0.17, 14.0, 0.0,..."
1,22,56000,6.0,4000,13.35,0.07,2,0,2.0,0.0,"(0.0, 0.0, 1.0)","(0.0, 1.0, 0.0, 0.0, 0.0)","(56000.0, 6.0, 4000.0, 13.35, 0.07, 2.0, 0.0, ..."
2,29,28800,8.0,6000,8.90,0.21,10,0,0.0,0.0,"(0.0, 0.0, 1.0)","(0.0, 0.0, 1.0, 0.0, 0.0)","(28800.0, 8.0, 6000.0, 8.9, 0.21, 10.0, 0.0, 0..."

In [44]:
# Seleciona as colunas usadas no treinamento
loan_df = feature_vector.select(['features','loan_status'])
# Split the dataset to train_df and test_df
train_df,test_df = loan_df.randomSplit([0.7,0.3])

In [45]:
loan_df.groupBy('loan_status').count().show()

+-----------+-----+
|loan_status|count|
+-----------+-----+
|          1| 8350|
|          0|50295|
+-----------+-----+

In [46]:
test_df.groupBy('loan_status').count().show()

+-----------+-----+
|loan_status|count|
+-----------+-----+
|          1| 2505|
|          0|15091|
+-----------+-----+

In [47]:
train_df.groupBy('loan_status').count().show()

+-----------+-----+
|loan_status|count|
+-----------+-----+
|          1| 5845|
|          0|35204|
+-----------+-----+

In [48]:
lr = LogisticRegression(labelCol="loan_status")

model = lr.fit(train_df)
model_predictions= model.transform(test_df)

print('Accuracy: ', MulticlassClassificationEvaluator(labelCol='loan_status',metricName='accuracy').evaluate(model_predictions))
print('Precision: ', MulticlassClassificationEvaluator(labelCol='loan_status',metricName='weightedPrecision').evaluate(model_predictions))
print('Recall: ', MulticlassClassificationEvaluator(labelCol='loan_status', metricName='weightedRecall').evaluate(model_predictions))
print('F1-Score: ', MulticlassClassificationEvaluator(labelCol='loan_status', metricName='f1').evaluate(model_predictions))

Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1-Score:  1.0

In [49]:
rf = RandomForestClassifier(labelCol='loan_status')

model = rf.fit(train_df)
model_predictions= model.transform(test_df)


print('Accuracy: ', MulticlassClassificationEvaluator(labelCol='loan_status',metricName='accuracy').evaluate(model_predictions))
print('Precision: ', MulticlassClassificationEvaluator(labelCol='loan_status',metricName='weightedPrecision').evaluate(model_predictions))
print('Recall: ', MulticlassClassificationEvaluator(labelCol='loan_status', metricName='weightedRecall').evaluate(model_predictions))
print('F1-Score: ', MulticlassClassificationEvaluator(labelCol='loan_status', metricName='f1').evaluate(model_predictions))

Accuracy:  1.0
Precision:  1.0
Recall:  1.0
F1-Score:  1.0

In [50]:
final_test.show()

+-----+----------+-------------+---------------------+-----------------+-----------------+----------+---------+-------------+-------------------+-------------------------+--------------------------+
|   id|person_age|person_income|person_home_ownership|person_emp_length|      loan_intent|loan_grade|loan_amnt|loan_int_rate|loan_percent_income|cb_person_default_on_file|cb_person_cred_hist_length|
+-----+----------+-------------+---------------------+-----------------+-----------------+----------+---------+-------------+-------------------+-------------------------+--------------------------+
|58645|        23|        69000|                 RENT|              3.0|  HOMEIMPROVEMENT|         F|    25000|        15.76|               0.36|                        N|                         2|
|58646|        26|        96000|             MORTGAGE|              6.0|         PERSONAL|         C|    10000|        12.68|                0.1|                        Y|                         4|
|58647|        26|        30000|                 RENT|              5.0|          VENTURE|         E|     4000|        17.19|               0.13|                        Y|                         2|
|58648|        33|        50000|                 RENT|              4.0|DEBTCONSOLIDATION|         A|     7000|          8.9|               0.14|                        N|                         7|
|58649|        26|       102000|             MORTGAGE|              8.0|  HOMEIMPROVEMENT|         D|    15000|        16.32|               0.15|                        Y|                         4|
|58650|        23|        66000|                 RENT|              5.0|        EDUCATION|         D|    22000|        14.09|               0.33|                        N|                         2|
|58651|        26|        75000|                  OWN|             10.0|         PERSONAL|         B|     8000|        10.62|               0.11|                        N|                         4|
|58652|        23|        55000|             MORTGAGE|              6.0|         PERSONAL|         A|     6250|         6.76|               0.12|                        N|                         2|
|58653|        32|        29124|                 RENT|              0.0|         PERSONAL|         C|     7200|        13.11|               0.26|                        Y|                         6|
|58654|        22|        90000|                 RENT|              4.0|DEBTCONSOLIDATION|         C|    10000|        13.49|               0.11|                        Y|                         3|
|58655|        33|       115000|             MORTGAGE|              3.0|DEBTCONSOLIDATION|         C|    14400|        14.35|               0.12|                        N|                         6|
|58656|        29|        40000|             MORTGAGE|              1.0|         PERSONAL|         C|     4000|        14.79|                0.1|                        N|                         7|
|58657|        29|        54996|                 RENT|              2.0|          VENTURE|         C|    12000|        12.23|               0.22|                        Y|                         6|
|58658|        25|        60000|             MORTGAGE|              3.0|  HOMEIMPROVEMENT|         A|     8000|         7.49|               0.13|                        N|                         3|
|58659|        27|        60000|                 RENT|              4.0|          MEDICAL|         B|    11500|        11.48|               0.19|                        N|                         9|
|58660|        27|        54996|                 RENT|              3.0|        EDUCATION|         B|    15250|        11.36|               0.28|                        N|                         8|
|58661|        32|        84996|                 RENT|             12.0|        EDUCATION|         A|    12000|         6.91|               0.14|                        N|                         6|
|58662|        21|        56004|                  OWN|              2.0|          VENTURE|         B|     6000|        11.86|               0.11|                        N|                         4|
|58663|        38|        47000|                 RENT|              0.0|DEBTCONSOLIDATION|         A|     9000|         8.94|               0.19|                        N|                        11|
|58664|        30|        42000|                  OWN|             14.0|        EDUCATION|         B|    10000|        10.59|               0.24|                        N|                         6|
+-----+----------+-------------+---------------------+-----------------+-----------------+----------+---------+-------------+-------------------+-------------------------+--------------------------+
only showing top 20 rows

In [52]:
# Transformando o final_test da mesma maneira que foi feito no treino
final_test_transformed = pipeline.fit(final_test).transform(final_test)

# Agora, são elimindas as colunas que não são úteis
final_test_transformed = final_test_transformed.drop("id","person_home_ownership","loan_intent","loan_grade","cb_person_default_on_file", 'person_home_ownership_index', 'loan_intent_index')

# Antes de modelar, todas as colunas são colocadas em único vetor
feature = VectorAssembler(inputCols = final_test_transformed.columns[1:],outputCol="features")
feature_vector=feature.transform(final_test_transformed)

In [53]:
feature_vector.show()

+----------+-------------+-----------------+---------+-------------+-------------------+--------------------------+----------------+-------------------------------+----------------------------+------------------+--------------------+
|person_age|person_income|person_emp_length|loan_amnt|loan_int_rate|loan_percent_income|cb_person_cred_hist_length|loan_grade_index|cb_person_default_on_file_index|person_home_ownership_onehot|loan_intent_onehot|            features|
+----------+-------------+-----------------+---------+-------------+-------------------+--------------------------+----------------+-------------------------------+----------------------------+------------------+--------------------+
|        23|        69000|              3.0|    25000|        15.76|               0.36|                         2|             5.0|                            0.0|               (3,[0],[1.0])|         (5,[],[])|(16,[0,1,2,3,4,5,...|
|        26|        96000|              6.0|    10000|        12.68|                0.1|                         4|             2.0|                            1.0|               (3,[1],[1.0])|     (5,[2],[1.0])|[96000.0,6.0,1000...|
|        26|        30000|              5.0|     4000|        17.19|               0.13|                         2|             4.0|                            1.0|               (3,[0],[1.0])|     (5,[3],[1.0])|[30000.0,5.0,4000...|
|        33|        50000|              4.0|     7000|          8.9|               0.14|                         7|             0.0|                            0.0|               (3,[0],[1.0])|     (5,[4],[1.0])|(16,[0,1,2,3,4,5,...|
|        26|       102000|              8.0|    15000|        16.32|               0.15|                         4|             3.0|                            1.0|               (3,[1],[1.0])|         (5,[],[])|(16,[0,1,2,3,4,5,...|
|        23|        66000|              5.0|    22000|        14.09|               0.33|                         2|             3.0|                            0.0|               (3,[0],[1.0])|     (5,[0],[1.0])|(16,[0,1,2,3,4,5,...|
|        26|        75000|             10.0|     8000|        10.62|               0.11|                         4|             1.0|                            0.0|               (3,[2],[1.0])|     (5,[2],[1.0])|(16,[0,1,2,3,4,5,...|
|        23|        55000|              6.0|     6250|         6.76|               0.12|                         2|             0.0|                            0.0|               (3,[1],[1.0])|     (5,[2],[1.0])|(16,[0,1,2,3,4,5,...|
|        32|        29124|              0.0|     7200|        13.11|               0.26|                         6|             2.0|                            1.0|               (3,[0],[1.0])|     (5,[2],[1.0])|(16,[0,2,3,4,5,6,...|
|        22|        90000|              4.0|    10000|        13.49|               0.11|                         3|             2.0|                            1.0|               (3,[0],[1.0])|     (5,[4],[1.0])|[90000.0,4.0,1000...|
|        33|       115000|              3.0|    14400|        14.35|               0.12|                         6|             2.0|                            0.0|               (3,[1],[1.0])|     (5,[4],[1.0])|(16,[0,1,2,3,4,5,...|
|        29|        40000|              1.0|     4000|        14.79|                0.1|                         7|             2.0|                            0.0|               (3,[1],[1.0])|     (5,[2],[1.0])|(16,[0,1,2,3,4,5,...|
|        29|        54996|              2.0|    12000|        12.23|               0.22|                         6|             2.0|                            1.0|               (3,[0],[1.0])|     (5,[3],[1.0])|[54996.0,2.0,1200...|
|        25|        60000|              3.0|     8000|         7.49|               0.13|                         3|             0.0|                            0.0|               (3,[1],[1.0])|         (5,[],[])|(16,[0,1,2,3,4,5,...|
|        27|        60000|              4.0|    11500|        11.48|               0.19|                         9|             1.0|                            0.0|               (3,[0],[1.0])|     (5,[1],[1.0])|(16,[0,1,2,3,4,5,...|
|        27|        54996|              3.0|    15250|        11.36|               0.28|                         8|             1.0|                            0.0|               (3,[0],[1.0])|     (5,[0],[1.0])|(16,[0,1,2,3,4,5,...|
|        32|        84996|             12.0|    12000|         6.91|               0.14|                         6|             0.0|                            0.0|               (3,[0],[1.0])|     (5,[0],[1.0])|(16,[0,1,2,3,4,5,...|
|        21|        56004|              2.0|     6000|        11.86|               0.11|                         4|             1.0|                            0.0|               (3,[2],[1.0])|     (5,[3],[1.0])|(16,[0,1,2,3,4,5,...|
|        38|        47000|              0.0|     9000|         8.94|               0.19|                        11|             0.0|                            0.0|               (3,[0],[1.0])|     (5,[4],[1.0])|(16,[0,2,3,4,5,8,...|
|        30|        42000|             14.0|    10000|        10.59|               0.24|                         6|             1.0|                            0.0|               (3,[2],[1.0])|     (5,[0],[1.0])|(16,[0,1,2,3,4,5,...|
+----------+-------------+-----------------+---------+-------------+-------------------+--------------------------+----------------+-------------------------------+----------------------------+------------------+--------------------+
only showing top 20 rows

In [64]:
feature_vector = feature_vector.withColumn("loan_status", lit(None).cast(IntegerType()))

In [ ]:
# Usando o modelo treinado para prever no final_test
predictions = model.transform(feature_vector)


print('Accuracy: ', MulticlassClassificationEvaluator(labelCol='loan_status',metricName='accuracy').evaluate(predictions))
print('Precision: ', MulticlassClassificationEvaluator(labelCol='loan_status',metricName='weightedPrecision').evaluate(predictions))
print('Recall: ', MulticlassClassificationEvaluator(labelCol='loan_status', metricName='weightedRecall').evaluate(predictions))
print('F1-Score: ', MulticlassClassificationEvaluator(labelCol='loan_status', metricName='f1').evaluate(predictions))